*,
*::before,
*::after{
    box-sizing: border-box;
}


body{
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: rgb(53, 52, 52);
    padding-right: 15em;
}
.card{
    color:white;
    background-image: url(https://img.freepik.com/premium-photo/graphic-designer-workplace-with-tablet-coffee-cup-notebook-color-swatch-copy-space-black-leather_35674-4183.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem ;
    overflow: hidden;
    transition: transform 500ms ease;
}
.card:hover,
.card:focus-within{
    transform: scale(1.08);
}
.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0%/0),
    hsl(0 0% 0%/0.3) 20%,
    hsl(0 0% 0%/1));
    transform: translateY(65%);
    transition: transform 500ms ease;
   
}
.card:hover .card-content,
.card:focus-within .card-content{
    transform: translateY(0%);
    transition-delay: 500ms;
}

.card-content > *:not(.card-title){
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content > *:not(.card-title),
.card:focus-within .card-content > *:not(.card-title){/*this will make opactiy 1 but not for card-title*/
    opacity: 1;
    transition-delay: 1000ms;
}


.card-title{
    position: relative;
    max-width: max-content;
}

.card-title::after{
    content: '';
    position: absolute;
    height: 4px;
    background-color: greenyellow;
    left: calc(var(--padding) * -1);/*this will left the line to left by 1%*/
    bottom: 0;
    
    width: calc(100% + var(--padding)); /*this will add width + padding which we set in card-content*/
    transition: transform 500ms ease;
    transform: scaleX(0);
    transform-origin: left;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after{
    transform: scaleX(1);
}

.button{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: rgb(83, 250, 83);
    padding: 0.4em 0.5em;
    border-radius: 2px;
}

.button:hover,
.button:focus{
    background-color: white;
}

@media (max-width:700px){
    body{
        position: absolute;
        place-items: center;
        padding-right: 0; /* Remove right padding */
    }

    .card{
        padding: 5rem 0 0; /* Reduce top padding */
    }

    .card-content{
        --padding: 1rem; /* Reduce padding */
    }
}